#  PROGRAMME ANSWER SHEET with Regular Expressions

# Ans 1

In [3]:
import re
text = 'Python Exercises, PHP exercises.'
pattern = r'[\s,\.]'
matches = re.sub(pattern,':',text)
print(matches)

Python:Exercises::PHP:exercises:

# Ans 2

In [6]:
import pandas as pd 
import re
Dictionary = {'SUMMARY':['hello,word!','xxxxx test','123four,five:;six....']}
df = pd.DataFrame(Dictionary)
df = df['SUMMARY'].str.replace('[^A-Za-z\s]+',' ',regex= True)
print(df)

0        hello word
1         xxxxx test
2     four five six
Name: SUMMARY, dtype: object

# Ans 3

In [17]:
import re
def find_word(string):
    pattern = re.compile(r'\b\w{4,}\b')
    matches = re.findall(pattern,string)
    return matches

string = "My Name Vishnu Kumar Prajapat with My friends and my other friends ajay singh"
result = find_word(string)    
print(result)

['Name', 'Vishnu', 'Kumar', 'Prajapat', 'with', 'friends', 'other', 'friends', 'ajay', 'singh']

# Ans 4

In [20]:
import re
def find_all_words(text):
    pattern = re.compile(r'\b\w{3,5}')
    match = re.findall(pattern,text)
    return match
                         
text = "My Name is vishnu kumar prajapt with my friends and other my friends ajay sing"
output = find_all_words(text)
print(output)

['Name', 'vishn', 'kumar', 'praja', 'with', 'frien', 'and', 'other', 'frien', 'ajay', 'sing']

# Ans 7

In [22]:
text = "ImportanceOfRegularExpressionInPython"
pattern = r"[A-Z][^A-Z]*"
matches = re.findall(pattern,text)
print(matches)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

# Ans 8

In [25]:
import re
def space_between(text):
    pattern = r'([A-Za-z]+)(\d+)'
    result = re.sub(pattern,r'\1 \2',text)
    return result

data = "RegularExpression1IsAn2ImportantTopic3InPython"
result = space_between(data)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Ans 9

In [26]:
import re
def insert_space(Data):
    pattern = r'([A-za-z]+)(\d+)'
    results = re.sub(pattern,r' \1 \2',Data)
    return results

Data = "RegularExpression1IsAn2ImportantTopic3InPython"
expected_output = insert_space(Data)
print(expected_output)

 RegularExpression 1 IsAn 2 ImportantTopic 3InPython

# Ans 10

In [27]:
link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(link)
print(df.to_string())

                      Country                           Region  Happiness Rank  Happiness Score  Standard Error  Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  Trust (Government Corruption)  Generosity  Dystopia Residual
0                 Switzerland                   Western Europe               1            7.587         0.03411                   1.39651  1.34951                   0.94143  0.66557                        0.41978     0.29678            2.51738
1                     Iceland                   Western Europe               2            7.561         0.04884                   1.30232  1.40223                   0.94784  0.62877                        0.14145     0.43630            2.70201
2                     Denmark                   Western Europe               3            7.527         0.03328                   1.32548  1.36058                   0.87464  0.64938                        0.48357     0.34139            2.49204
3                      Norway                   Western Europe               4            7.522         0.03880                   1.45900  1.33095                   0.88521  0.66973                        0.36503     0.34699            2.46531
4                      Canada                    North America               5            7.427         0.03553                   1.32629  1.32261                   0.90563  0.63297                        0.32957     0.45811            2.45176
5                     Finland                   Western Europe               6            7.406         0.03140                   1.29025  1.31826                   0.88911  0.64169                        0.41372     0.23351            2.61955
6                 Netherlands                   Western Europe               7            7.378         0.02799                   1.32944  1.28017                   0.89284  0.61576                        0.31814     0.47610            2.46570
7                      Sweden                   Western Europe               8            7.364         0.03157                   1.33171  1.28907                   0.91087  0.65980                        0.43844     0.36262            2.37119
8                 New Zealand        Australia and New Zealand               9            7.286         0.03371                   1.25018  1.31967                   0.90837  0.63938                        0.42922     0.47501            2.26425
9                   Australia        Australia and New Zealand              10            7.284         0.04083                   1.33358  1.30923                   0.93156  0.65124                        0.35637     0.43562            2.26646
10                     Israel  Middle East and Northern Africa              11            7.278         0.03470                   1.22857  1.22393                   0.91387  0.41319                        0.07785     0.33172            3.08854
11                 Costa Rica      Latin America and Caribbean              12            7.226         0.04454                   0.95578  1.23788                   0.86027  0.63376                        0.10583     0.25497            3.17728
12                    Austria                   Western Europe              13            7.200         0.03751                   1.33723  1.29704                   0.89042  0.62433                        0.18676     0.33088            2.53320
13                     Mexico      Latin America and Caribbean              14            7.187         0.04176                   1.02054  0.91451                   0.81444  0.48181                        0.21312     0.14074            3.60214
14              United States                    North America              15            7.119         0.03839                   1.39451  1.24711                   0.86179  0.54604                        0.15890     0.40105            2.51011
15                     Brazil      Latin America and Caribbean              16            6.983         0.04076                   0.98124  1.23287                   0.69702  0.49049                        0.17521     0.14574            3.26001
16                 Luxembourg                   Western Europe              17            6.946         0.03499                   1.56391  1.21963                   0.91894  0.61583                        0.37798     0.28034            1.96961
17                    Ireland                   Western Europe              18            6.940         0.03676                   1.33596  1.36948                   0.89533  0.61777                        0.28703     0.45901            1.97570
18                    Belgium                   Western Europe              19            6.937         0.03595                   1.30782  1.28566                   0.89667  0.58450                        0.22540     0.22250            2.41484
19       United Arab Emirates  Middle East and Northern Africa              20            6.901         0.03729                   1.42727  1.12575                   0.80925  0.64157                        0.38583     0.26428            2.24743
20             United Kingdom                   Western Europe              21            6.867         0.01866                   1.26637  1.28548                   0.90943  0.59625                        0.32067     0.51912            1.96994
21                       Oman  Middle East and Northern Africa              22            6.853         0.05335                   1.36011  1.08182                   0.76276  0.63274                        0.32524     0.21542            2.47489
22                  Venezuela      Latin America and Caribbean              23            6.810         0.06476                   1.04424  1.25596                   0.72052  0.42908                        0.11069     0.05841            3.19131
23                  Singapore                Southeastern Asia              24            6.798         0.03780                   1.52186  1.02000                   1.02525  0.54252                        0.49210     0.31105            1.88501
24                     Panama      Latin America and Caribbean              25            6.786         0.04910                   1.06353  1.19850                   0.79661  0.54210                        0.09270     0.24434            2.84848
25                    Germany                   Western Europe              26            6.750         0.01848                   1.32792  1.29937                   0.89186  0.61477                        0.21843     0.28214            2.11569
26                      Chile      Latin America and Caribbean              27            6.670         0.05800                   1.10715  1.12447                   0.85857  0.44132                        0.12869     0.33363            2.67585
27                      Qatar  Middle East and Northern Africa              28            6.611         0.06257                   1.69042  1.07860                   0.79733  0.64040                        0.52208     0.32573            1.55674
28                     France                   Western Europe              29            6.575         0.03512                   1.27778  1.26038                   0.94579  0.55011                        0.20646     0.12332            2.21126
29                  Argentina      Latin America and Caribbean              30            6.574         0.04612                   1.05351  1.24823                   0.78723  0.44974                        0.08484     0.11451            2.83600
30             Czech Republic       Central and Eastern Europe              31            6.505         0.04168                   1.17898  1.20643                   0.84483  0.46364                        0.02652     0.10686            2.67782
31                    Uruguay      Latin America and Caribbean              32            6.485         0.04539                   1.06166  1.20890                   0.81160  0.60362                        0.24558     0.23240            2.32142
32                   Colombia      Latin America and Caribbean              33            6.477         0.05051                   0.91861  1.24018                   0.69077  0.53466                        0.05120     0.18401            2.85737
33                   Thailand                Southeastern Asia              34            6.455         0.03557                   0.96690  1.26504                   0.73850  0.55664                        0.03187     0.57630            2.31945
34               Saudi Arabia  Middle East and Northern Africa              35            6.411         0.04633                   1.39541  1.08393                   0.72025  0.31048                        0.32524     0.13706            2.43872
35                      Spain                   Western Europe              36            6.329         0.03468                   1.23011  1.31379                   0.95562  0.45951                        0.06398     0.18227            2.12367
36                      Malta                   Western Europe              37            6.302         0.04206                   1.20740  1.30203                   0.88721  0.60365                        0.13586     0.51752            1.64880
37                     Taiwan                     Eastern Asia              38            6.298         0.03868                   1.29098  1.07617                   0.87530  0.39740                        0.08129     0.25376            2.32323
38                     Kuwait  Middle East and Northern Africa              39            6.295         0.04456                   1.55422  1.16594                   0.72492  0.55499                        0.25609     0.16228            1.87634
39                   Suriname      Latin America and Caribbean              40            6.269         0.09811                   0.99534  0.97200                   0.60820  0.59657                        0.13633     0.16991            2.79094
40        Trinidad and Tobago      Latin America and Caribbean              41            6.168         0.10895                   1.21183  1.18354                   0.61483  0.55884                        0.01140     0.31844            2.26882
41                El Salvador      Latin America and Caribbean              42            6.130         0.05618                   0.76454  1.02507                   0.67737  0.40350                        0.11776     0.10692            3.03500
42                  Guatemala      Latin America and Caribbean              43            6.123         0.05224                   0.74553  1.04356                   0.64425  0.57733                        0.09472     0.27489            2.74255
43                 Uzbekistan       Central and Eastern Europe              44            6.003         0.04361                   0.63244  1.34043                   0.59772  0.65821                        0.30826     0.22837            2.23741
44                   Slovakia       Central and Eastern Europe              45            5.995         0.04267                   1.16891  1.26999                   0.78902  0.31751                        0.03431     0.16893            2.24639
45                      Japan                     Eastern Asia              46            5.987         0.03581                   1.27074  1.25712                   0.99111  0.49615                        0.18060     0.10705            1.68435
46                South Korea                     Eastern Asia              47            5.984         0.04098                   1.24461  0.95774                   0.96538  0.33208                        0.07857     0.18557            2.21978
47                    Ecuador      Latin America and Caribbean              48            5.975         0.04528                   0.86402  0.99903                   0.79075  0.48574                        0.18090     0.11541            2.53942
48                    Bahrain  Middle East and Northern Africa              49            5.960         0.05412                   1.32376  1.21624                   0.74716  0.45492                        0.30600     0.17362            1.73797
49                      Italy                   Western Europe              50            5.948         0.03914                   1.25114  1.19777                   0.95446  0.26236                        0.02901     0.22823            2.02518
50                    Bolivia      Latin America and Caribbean              51            5.890         0.05642                   0.68133  0.97841                   0.53920  0.57414                        0.08800     0.20536            2.82334
51                    Moldova       Central and Eastern Europe              52            5.889         0.03799                   0.59448  1.01528                   0.61826  0.32818                        0.01615     0.20951            3.10712
52                   Paraguay      Latin America and Caribbean              53            5.878         0.04563                   0.75985  1.30477                   0.66098  0.53899                        0.08242     0.34240            2.18896
53                 Kazakhstan       Central and Eastern Europe              54            5.855         0.04114                   1.12254  1.12241                   0.64368  0.51649                        0.08454     0.11827            2.24729
54                   Slovenia       Central and Eastern Europe              55            5.848         0.04251                   1.18498  1.27385                   0.87337  0.60855                        0.03787     0.25328            1.61583
55                  Lithuania       Central and Eastern Europe              56            5.833         0.03843                   1.14723  1.25745                   0.73128  0.21342                        0.01031     0.02641            2.44649
56                  Nicaragua      Latin America and Caribbean              57            5.828         0.05371                   0.59325  1.14184                   0.74314  0.55475                        0.19317     0.27815            2.32407
57                       Peru      Latin America and Caribbean              58            5.824         0.04615                   0.90019  0.97459                   0.73017  0.41496                        0.05989     0.14982            2.59450
58                    Belarus       Central and Eastern Europe              59            5.813         0.03938                   1.03192  1.23289                   0.73608  0.37938                        0.19090     0.11046            2.13090
59                     Poland       Central and Eastern Europe              60            5.791         0.04263                   1.12555  1.27948                   0.77903  0.53122                        0.04212     0.16759            1.86565
60                   Malaysia                Southeastern Asia              61            5.770         0.04330                   1.12486  1.07023                   0.72394  0.53024                        0.10501     0.33075            1.88541
61                    Croatia       Central and Eastern Europe              62            5.759         0.04394                   1.08254  0.79624                   0.78805  0.25883                        0.02430     0.05444            2.75414
62                      Libya  Middle East and Northern Africa              63            5.754         0.07832                   1.13145  1.11862                   0.70380  0.41668                        0.11023     0.18295            2.09066
63                     Russia       Central and Eastern Europe              64            5.716         0.03135                   1.13764  1.23617                   0.66926  0.36679                        0.03005     0.00199            2.27394
64                    Jamaica      Latin America and Caribbean              65            5.709         0.13693                   0.81038  1.15102                   0.68741  0.50442                        0.02299     0.21230            2.32038
65               North Cyprus                   Western Europe              66            5.695         0.05635                   1.20806  1.07008                   0.92356  0.49027                        0.14280     0.26169            1.59888
66                     Cyprus                   Western Europe              67            5.689         0.05580                   1.20813  0.89318                   0.92356  0.40672                        0.06146     0.30638            1.88931
67                    Algeria  Middle East and Northern Africa              68            5.605         0.05099                   0.93929  1.07772                   0.61766  0.28579                        0.17383     0.07822            2.43209
68                     Kosovo       Central and Eastern Europe              69            5.589         0.05018                   0.80148  0.81198                   0.63132  0.24749                        0.04741     0.28310            2.76579
69               Turkmenistan       Central and Eastern Europe              70            5.548         0.04175                   0.95847  1.22668                   0.53886  0.47610                        0.30844     0.16979            1.86984
70                  Mauritius               Sub-Saharan Africa              71            5.477         0.07197                   1.00761  0.98521                   0.70950  0.56066                        0.07521     0.37744            1.76145
71                  Hong Kong                     Eastern Asia              72            5.474         0.05051                   1.38604  1.05818                   1.01328  0.59608                        0.37124     0.39478            0.65429
72                    Estonia       Central and Eastern Europe              73            5.429         0.04013                   1.15174  1.22791                   0.77361  0.44888                        0.15184     0.08680            1.58782
73                  Indonesia                Southeastern Asia              74            5.399         0.02596                   0.82827  1.08708                   0.63793  0.46611                        0.00000     0.51535            1.86399
74                    Vietnam                Southeastern Asia              75            5.360         0.03107                   0.63216  0.91226                   0.74676  0.59444                        0.10441     0.16860            2.20173
75                     Turkey  Middle East and Northern Africa              76            5.332         0.03864                   1.06098  0.94632                   0.73172  0.22815                        0.15746     0.12253            2.08528
76                 Kyrgyzstan       Central and Eastern Europe              77            5.286         0.03823                   0.47428  1.15115                   0.65088  0.43477                        0.04232     0.30030            2.23270
77                    Nigeria               Sub-Saharan Africa              78            5.268         0.04192                   0.65435  0.90432                   0.16007  0.34334                        0.04030     0.27233            2.89319
78                     Bhutan                    Southern Asia              79            5.253         0.03225                   0.77042  1.10395                   0.57407  0.53206                        0.15445     0.47998            1.63794
79                 Azerbaijan       Central and Eastern Europe              80            5.212         0.03363                   1.02389  0.93793                   0.64045  0.37030                        0.16065     0.07799            2.00073

In [28]:
df['first_six_letters'] = df['Country'].apply(lambda y: y[:6])
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_six_letters
0       0.29678            2.51738            Switze
1       0.43630            2.70201            Icelan
2       0.34139            2.49204            Denmar
3       0.34699            2.46531            Norway
4       0.45811            2.45176            Canada
..          ...                ...               ...
153     0.22628            0.67042            Rwanda
154     0.18260            1.63328             Benin
155     0.47179            0.32858             Syria
156     0.19727            1.83302            Burund
157     0.16681            1.56726              Togo

[158 rows x 13 columns]

# Ans 11

In [29]:
import re
string = "vishnu_kumar_prajapat201098"
pattern = 'r[a-zA-Z0-9]*$'
matches = re.search(pattern,string)
if matches:
    print("string matches the pattern")
else:
    print("String does not match the pattern")

string matches the pattern

# Ans 12

In [32]:
import re
x = "@vishnu_@kumar._prajapat @home $karansing"
pattern = r'\W[A-Za-z0-9]+'
find = re.findall(pattern,x)
print(find)

['@vishnu', '@kumar', '@home', '$karansing']

# Ans 14

In [6]:
text_file = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'
pattern = r'\w{6} \w{4} \d{4}'
find = re.findall(pattern,text_file)
print(find)

['August 15th 1947']

# Ans 15

In [31]:
import re
a = "The quick brown fox jumps over the lazy dog."
pattern = r'fox|dog|horse'
search = re.findall(pattern,a)
print(search)

['fox', 'dog']

# Ans 16

In [4]:
import re
y = "The quick brown fox jumps over the lazy dog."
pattern = r'fox'
search = re.search(pattern,y)
print(search)

<re.Match object; span=(16, 19), match='fox'>

# Ans 17

In [5]:
import re
text = "Python exercises, PHP exercises, c# exercises"
pattern = r'exercises'
matches = re.findall(pattern,text)
print(matches)

['exercises', 'exercises', 'exercises']

# Ans 18

In [6]:
Sample_Text= "On August 15th 1947 that India wa declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern = r'\w+'
matches = re.finditer(pattern,Sample_Text)

for value in matches:
    print(value)

<re.Match object; span=(0, 2), match='On'>
<re.Match object; span=(3, 9), match='August'>
<re.Match object; span=(10, 14), match='15th'>
<re.Match object; span=(15, 19), match='1947'>
<re.Match object; span=(20, 24), match='that'>
<re.Match object; span=(25, 30), match='India'>
<re.Match object; span=(31, 33), match='wa'>
<re.Match object; span=(34, 42), match='declared'>
<re.Match object; span=(43, 54), match='independent'>
<re.Match object; span=(55, 59), match='from'>
<re.Match object; span=(60, 67), match='British'>
<re.Match object; span=(68, 79), match='colonialism'>
<re.Match object; span=(81, 84), match='and'>
<re.Match object; span=(85, 88), match='the'>
<re.Match object; span=(89, 94), match='reins'>
<re.Match object; span=(95, 97), match='of'>
<re.Match object; span=(98, 105), match='control'>
<re.Match object; span=(106, 110), match='were'>
<re.Match object; span=(111, 117), match='handed'>
<re.Match object; span=(118, 122), match='over'>
<re.Match object; span=(123, 125), match='to'>
<re.Match object; span=(126, 129), match='the'>
<re.Match object; span=(130, 137), match='leaders'>
<re.Match object; span=(138, 140), match='of'>
<re.Match object; span=(141, 144), match='the'>
<re.Match object; span=(145, 152), match='Country'>

#  Ans 19

In [31]:
from datetime import datetime
convert_format = datetime.strptime("2008/12/14", "%Y/%m/%d").strftime("%d-%m-%Y)")
print(convert_format)

14-12-2008)

# Ans 20

In [12]:
import re
def find_decimal_numbers(sample_text):
    pattern = re.compile(r'\d{1,3}\.\d{1,2}')
    decimal_numbers = re.findall(pattern,sample_text)
    return decimal_numbers

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
decimal_number = find_decimal_numbers(sample_text)
print(decimal_number)

['01.12', '132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

# Ans 21

In [15]:
import re
string = 'My name is vishnu kumar prajapat and my age 26 Year'
pattern = r'(\d+)'
find = re.finditer(pattern,string)

for value in find:
    print(value)

<re.Match object; span=(44, 46), match='26'>

#  Ans 22

In [2]:
import re
Sample_Text = "My marks in each semester are: 947, 896 926, 524, 734, 950, 642"
pattern = r'\d+'
matches = re.findall(pattern,Sample_Text)

value = max(matches)
print(value)

950

# Ans 23

In [3]:
import re
stri = "RegularExpressionIsAnImportantTopicInPython"
pattern = r"[A-Z][^A-Z]*"
matches = re.findall(pattern,stri)
print(matches)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

# Ans 24

In [16]:
import re
text = "Vishnu kumar Prajapt age 26 Year This is real information"
pattern = r'([A-Z][a-z]+)'
list = re.findall(pattern,text)
print(list)

['Vishnu', 'Prajapt', 'Year', 'This']

# Ans 25

In [2]:
import re
sample_text = "Hello hello world world"
regex = r'\b(\w+)(?:\W+\1\b)+'
remove_duplicate = re.sub(regex,r'\1',sample_text)
print(remove_duplicate)

Hello hello world

# Ans 26

In [17]:
import re
string = "vishnu2010 kumar98 saurabh@ ajaysing"
pattern = r'[A-Za-z0-9]$'
search = re.search(pattern,string)

if search:
    print("This String Is Alphanumeric")
else:
    print("This String Is Not Alphanumeric")

This String Is Alphanumeric

# Ans 27

In [19]:
import re
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r'#[A-Za-z0-9]+'
find = re.findall(pattern,sample_text)
print(find)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Ans 28

In [20]:
import re
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'[<U+A-Z0-9]+>'
matches = re.sub(pattern,'',text)
print(matches)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Ans 29

In [27]:
import re
file = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern = r'\d{2}-\d{2}-\d{4}'
find = re.findall(pattern,file)
print(find)

['12-09-1992', '15-12-1999']

# Ans 30

In [28]:
import re
Sample_Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\w{5,}')
extract = re.findall(pattern,Sample_Text)
print(extract)

['following', 'example', 'creates', 'ArrayList', 'capacity', 'elements', 'elements', 'added', 'ArrayList', 'ArrayList', 'trimmed', 'accordingly']