# Ans 1      Scrap data from https://www.shine.com/page.

In [71]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [76]:
driver = webdriver.Chrome()

In [77]:
# opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [83]:
# entering designation and Location as required in this question.
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [84]:
# location is entered in the shine page.
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [85]:
# click on search button.
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [86]:
# create empty lists
job_title = []
job_location=[]
company_name=[]
experience_required=[]

In [87]:
# scrap job_title, job_location, company name, experience_required only 10 job  data from shine page.
# Scraping job_title from the given page
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# Scraping location from the given page.
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text.replace('\n','').strip()
    job_location.append(location)
    
# Scraping Company_name from given page.
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping experience required from the given page.
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [88]:
job_title

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Data Analyst',
 'Healthcare Data Analyst',
 'Senior Data Analyst',
 'Urgent Hiring For Data Analyst',
 'Clinical Data Analyst Ii',
 'Operations Executive ( Data Analyst )',
 'Data Catalog with Data Goverance',
 'Business Analyst',
 'sql data analysis']

In [89]:
job_location

['Bangalore+8',
 'Bangalore+4',
 'Bangalore+8',
 'Bangalore+8',
 'Bangalore+2',
 'Bangalore+8',
 'Bangalore+2',
 'Bangalore+8',
 'Bangalore',
 'Bangalore+1']

In [90]:
company_name

['appsoft solutions',
 'aryan technology',
 'spento papers (india) llp',
 'gallagher and mohan private limited',
 'diraa hr services hiring for diraa ...',
 'techno endura',
 'innovsource services private limite...',
 'ltimindtree limited',
 'spurtree technologies private limit...',
 'ikaya solutions private limited']

In [91]:
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '8 to 13 Yrs',
 '2 to 7 Yrs',
 '0 to 4 Yrs',
 '0 to 2 Yrs',
 '1 to 4 Yrs',
 '6 to 11 Yrs',
 '5 to 10 Yrs',
 '3 to 6 Yrs']

In [92]:
df = pd.DataFrame({'Company Title':company_name,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})

In [93]:
df

,Company Title,Job Location,Company Name,Experience Required
0,appsoft solutions,Bangalore+8,appsoft solutions,0 to 4 Yrs
1,aryan technology,Bangalore+4,aryan technology,0 to 4 Yrs
2,spento papers (india) llp,Bangalore+8,spento papers (india) llp,8 to 13 Yrs
3,gallagher and mohan private limited,Bangalore+8,gallagher and mohan private limited,2 to 7 Yrs
4,diraa hr services hiring for diraa ...,Bangalore+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
5,techno endura,Bangalore+8,techno endura,0 to 2 Yrs
6,innovsource services private limite...,Bangalore+2,innovsource services private limite...,1 to 4 Yrs
7,ltimindtree limited,Bangalore+8,ltimindtree limited,6 to 11 Yrs
8,spurtree technologies private limit...,Bangalore,spurtree technologies private limit...,5 to 10 Yrs
9,ikaya solutions private limited,Bangalore+1,ikaya solutions private limited,3 to 6 Yrs

# Ans 2 scrap data from https://www.naukri.com/ page

In [40]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [41]:
driver = webdriver.Chrome()

In [42]:
# opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [43]:
# entering designation as required in this question.
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [44]:
# entering location as required in this question.
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [45]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [46]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [48]:
# scraping job_title from the given page
job_tags = driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in job_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# Sraping job_location from the given page.
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
# scraping company_name form the given page.
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]')
for i in company_tags[0:10]:
    company = i.text.replace('\n','').strip()
    company_name.append(company)
    
# Scraping experience_required from given page.
experience_tags= driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [50]:
job_title

['Data Analyst',
 'Data Analyst (Excel)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst _Bengaluru_Fresher/Experienced',
 'Data Analyst',
 'Data Analyst (Contractual role) - Chubb - Bangalore',
 'Data Analyst',
 'FHIR Data Analyst']

In [51]:
job_location

['Bengaluru',
 'Remote',
 'Hybrid - Bengaluru',
 'Bengaluru(HAL Airport Area)',
 'Gurugram, Bengaluru',
 'Bengaluru',
 'Bengaluru(HSR Layout)',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [49]:
company_name

['Info Test Ehire Campaign',
 'Rocket Careers',
 'randstad offshorePosted by Randstad',
 'Manipal Hospitals4.21183 Reviews',
 'Delhivery3.95472 Reviews',
 'Creative Hr Solutions',
 'Simply Vyapar Apps3.7294 Reviews',
 'Chubb3.8137 Reviews',
 'Eastvantage2.611 Reviews',
 'Infosys3.834525 Reviews']

In [52]:
experience_required

['5-9 Yrs',
 '0-5 Yrs',
 '6-10 Yrs',
 '1-2 Yrs',
 '1-5 Yrs',
 '0-2 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '5-10 Yrs']

In [53]:
df = pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company Name':company_name,'Experience Required':experience_required})

In [54]:
df

,Job_Title,Job_Location,Company Name,Experience Required
0,Data Analyst,Bengaluru,Info Test Ehire Campaign,5-9 Yrs
1,Data Analyst (Excel),Remote,Rocket Careers,0-5 Yrs
2,Data Analyst,Hybrid - Bengaluru,randstad offshorePosted by Randstad,6-10 Yrs
3,Data Analyst,Bengaluru(HAL Airport Area),Manipal Hospitals4.21183 Reviews,1-2 Yrs
4,Data Analyst,"Gurugram, Bengaluru",Delhivery3.95472 Reviews,1-5 Yrs
5,Data Analyst _Bengaluru_Fresher/Experienced,Bengaluru,Creative Hr Solutions,0-2 Yrs
6,Data Analyst,Bengaluru(HSR Layout),Simply Vyapar Apps3.7294 Reviews,1-4 Yrs
7,Data Analyst (Contractual role) - Chubb - Bang...,Hybrid - Bengaluru,Chubb3.8137 Reviews,3-6 Yrs
8,Data Analyst,Bengaluru,Eastvantage2.611 Reviews,3-8 Yrs
9,FHIR Data Analyst,Bengaluru,Infosys3.834525 Reviews,5-10 Yrs

# Ans 3  Scrap 100 sunglasses data from https://www.flipkart.com/

In [56]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [57]:
driver = webdriver.Chrome()

In [58]:
# Opening the flipkart page on automated chrome browser.
driver.get('https://WWW.flipkart.com/')

In [59]:
find_product = driver.find_element(By.CLASS_NAME,"Pke_EE")
find_product.send_keys('sunglasses')

In [60]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [61]:
Brand_Name = []
Product_discription=[]
Price = []

In [62]:
# Scrap Brand, product_discription, price data from flipkart page.
start = 0
end = 3
for page in range(start,end):
# Scrap Brand from flipkart page.
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_tag[0:100]:
        Brand_Name.append(i.text)
    
# Scrap product_discription from flipkart page.
    discription_tag = driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]')
    for i in discription_tag[0:100]:
        Product_discription.append(i.text.replace('\n','').strip())
        
# Scrap price from flipkart page.
    price_tag = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price_tag[0:100]:
        Price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [66]:
Brand_Name[0:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'EBRACOLLECTION',
 'VINCENT CHASE',
 'Fastrack',
 'Ted Smith',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'VINCENT CHASE',
 'Dervin',
 'METRONAUT',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'METRONAUT',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PROVOGUE',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Dressberry',
 'Mention',
 'VINCENT CHASE',
 'Woggles',
 'Ted Smith',
 'ROADWAY',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'METRONAUT',
 'ATOUCH',
 'Dressberry',
 'VINCENT CHASE',
 'Styloze',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'AISLIN',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROADWAY',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'VOYAGE',
 'ROYAL SON',
 'New Specs',
 'hayden haiza',
 'IRUS',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'KAEN EYEWEAR',
 'Fastrack',
 'Zeemork',
 'Woggles',
 'VINCENT CHASE',
 'Sunveil',
 'AISLIN',
 'The Magnifique',
 'AGFashion',
 'Eyewearlabs',
 'AISLIN',
 'ALNATURA',
 'elegante',
 'VOYAGE',
 'ROYAL SON',
 'VINCENT CHASE',
 'Ray-Ban',
 'Online Mantra',
 'PIRASO',
 'AISLIN',
 'SAM AND MARSHALL',
 'Irayz',
 'Zeemork']

In [69]:
Product_discription[0:100]

['VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹979₹1,99951% offFree delivery',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Aviator Sunglasses...₹696₹1,99965% offFree deliveryHot Deal',
 'FastrackUV Protection Wayfarer Sunglasses (53)₹534₹99946% offFree deliveryLowest Price in 30 days',
 'FastrackUV Protection Wayfarer Sunglasses (Free Size)₹470₹99952% offLowest Price in 30 days',
 'EBRACOLLECTIONUV Protection, Gradient, Polarized Oval, Rectangular Su...₹302₹1,99984% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Retro Square Sungl...₹659₹1,99967% offFree deliverySale Price Live',
 'FastrackGradient, UV Protection Wayfarer Sunglasses (Free Size)₹539₹99946% offFree deliveryLowest Price in 30 days',
 'Ted SmithUV Protection Rectangular Sunglasses (53)₹850₹3,09072% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart UV Protection Wayfarer Sunglasses (59)₹475₹1,99976% offHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹799₹1,99960% offFree deliverySale Price Live',
 'ROYAL SONMirrored Aviator Sunglasses (58)₹379₹1,49974% offFree deliveryDaily Saver',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹710₹1,99964% offFree deliveryHot Deal',
 'DervinUV Protection Wayfarer Sunglasses (Free Size)₹236₹1,49984% offFree deliveryLowest Price in 30 days',
 'METRONAUTUV Protection, Riding Glasses Sunglass₹399₹79950% offFree deliveryOnly few left',
 'FastrackUV Protection Aviator Sunglasses (58)₹750₹1,39946% offFree deliveryHot Deal',
 'FastrackUV Protection Wayfarer Sunglasses (Free Size)₹593₹1,09946% offFree deliveryLowest Price in 30 days',
 'VINCENT CHASEby Lenskart UV Protection Wayfarer Sunglasses (63)₹799₹1,99960% offFree deliverySale Price Live',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹638₹1,99968% offFree deliveryLowest price in the year',
 'VINCENT CHASEUV Protection Aviator Sunglasses (62)₹1,499₹1,99925% offFree deliveryOnly few left',
 'FastrackGradient, UV Protection Retro Square Sunglasses (56)₹484₹89946% offLowest Price in 30 days',
 'VINCENT CHASEby Lenskart UV Protection Wayfarer Sunglasses (59)₹649₹1,99967% offFree deliverySale Price Live',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹711₹1,99964% offFree deliveryHot Deal',
 'FastrackUV Protection Wayfarer Sunglasses (52)₹363₹89959% offSale Price Live',
 'FastrackUV Protection Aviator Sunglasses (58)₹713₹1,39949% offFree deliverySale Price Live',
 'FastrackGradient, UV Protection Wayfarer Sunglasses (Free Size)₹538₹99946% offFree deliveryLowest Price in 30 days',
 'VINCENT CHASEby Lenskart UV Protection Clubmaster Sunglasses (55)₹489₹1,99975% offHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Sports Sunglasses ...₹604₹1,99969% offFree deliveryLowest price in the year',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Aviator Sunglasses...₹579₹1,99971% offFree deliveryHot Deal',
 'VINCENT CHASEUV Protection Aviator Sunglasses (58)₹1,499₹1,99925% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹799₹1,99960% offFree deliverySale Price Live',
 'ROYAL SONUV Protection, Gradient Butterfly Sunglasses (62)₹664₹1,99966% offFree deliveryDaily Saver',
 'ROYAL SONPolarized, UV Protection Wayfarer, Retro Square Sunglas...₹664₹1,99966% offFree deliveryDaily Saver',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Retro Square Sungl...₹776₹1,99961% offFree deliveryHot Deal',
 'FastrackUV Protection Wayfarer Sunglasses (Free Size)₹594₹1,09945% offFree deliveryLowest Price in 30 days',
 'METRONAUTNight Vision, Riding Glasses Sunglass₹399₹79950% offFree deliveryOnly few left',
 'FastrackUV Protection Wayfarer Sunglasses (56)₹481₹89946% offSale Price Live',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Sports Sunglasses ...₹714₹1,99964% offFree deliverySale Price Live',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Sports Sunglasses ...₹843₹1,99957% offFree deliveryHot Deal',
 'PROVOGUEUV Protection Round Sunglasses (55)₹599₹2,55576% offFree deliveryHot Deal',
 'FastrackUV Protection Wayfarer Sunglasses (Free Size)₹453₹89949% offSale Price Live',
 'VINCENT CHASEby Lenskart UV Protection Clubmaster Sunglasses (53)₹469₹1,99976% offFree deliveryLowest price in the year',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Rectangular Sungla...₹713₹1,99964% offFree deliveryLowest price in the year',
 'VINCENT CHASEUV Protection Rectangular Sunglasses (60)₹1,499₹1,99925% offFree deliveryOnly few left',
 'FastrackUV Protection Wayfarer Sunglasses (56)₹501₹99949% offFree deliveryHot Deal',
 'DressberryUV Protection Shield, Butterfly Sunglasses (Free Size)₹474₹1,99976% offFree deliveryDaily Saver',
 'MentionOthers, UV Protection, Riding Glasses, Polarized Retro ...₹378₹1,59976% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹579₹1,99971% offFree deliveryHot Deal',
 'WogglesUV Protection, Polarized Wayfarer Sunglasses (52)₹549₹1,67067% offLowest Price in 30 daysSize Medium',
 'Ted SmithUV Protection Rectangular Sunglasses (53)₹850₹3,09072% offFree deliveryOnly few left',
 'ROADWAYUV Protection Retro Square, Wayfarer, Sports Sunglasses...₹165₹99983% offFree deliveryHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Cat-eye Sunglasses...₹655₹1,99967% offFree deliveryHot Deal',
 'ROYAL SONUV Protection, Gradient Butterfly Sunglasses (52)₹664₹1,99966% offFree deliveryDaily Saver',
 'FastrackUV Protection Aviator Sunglasses (58)₹755₹1,39946% offFree deliveryHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹501₹1,99974% offFree deliveryHot Deal',
 'METRONAUTUV Protection, Riding Glasses Sunglass₹399₹79950% offFree deliveryOnly few left',
 'ATOUCHUV Protection Rectangular Sunglasses (Free Size)₹264₹2,29988% offFree deliverySale Price Live',
 'DressberryUV Protection Wayfarer Sunglasses (58)₹518₹2,40078% offFree deliveryLowest price since launch',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹706₹1,99964% offFree deliveryLowest price in the year',
 'StylozeRiding Glasses, Night Vision Wayfarer Sunglasses (Free ...₹179₹71574% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹549₹1,99972% offFree deliverySale Price Live',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Rectangular Sungla...₹659₹1,99967% offFree deliveryLowest price in the year',
 'AISLINUV Protection, Gradient Oval Sunglasses (60)₹468₹1,52569% offFree deliveryHot Deal',
 'VINCENT CHASEUV Protection Rectangular Sunglasses (56)₹1,499₹1,99925% offFree deliveryOnly few left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹799₹1,99960% offFree deliveryHot Deal',
 'FastrackUV Protection Rectangular Sunglasses (59)₹753₹1,39946% offFree deliveryLowest Price in 30 days',
 'ROADWAYUV Protection Wayfarer, Retro Square Sunglasses (Free S...₹180₹1,29986% offFree deliveryHot Deal',
 'ROYAL SONUV Protection Retro Square Sunglasses (58)₹474₹1,49968% offFree deliveryDaily Saver',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Aviator Sunglasses...₹599₹1,99970% offFree deliverySale Price Live',
 'VINCENT CHASEUV Protection Aviator Sunglasses (58)₹1,499₹1,99925% offFree deliveryOnly few left',
 'FastrackUV Protection Aviator Sunglasses (Free Size)₹809₹89910% offFree delivery',
 'VOYAGEUV Protection Wayfarer Sunglasses (60)₹949₹3,00068% offFree deliveryHot Deal',
 'ROYAL SONUV Protection Retro Square Sunglasses (Free Size)₹474₹1,29963% offFree deliveryDaily Saver',
 'New SpecsUV Protection Rectangular Sunglasses (Free Size)₹299₹2,59988% offFree deliveryOnly few left',
 'hayden haizaUV Protection Retro Square Sunglasses (58)₹232₹1,40083% offFree deliveryHot Deal',
 'IRUSGradient Retro Square Sunglasses (63)₹1,702₹1,8708% offFree deliveryOnly 5 left',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Round Sunglasses (...₹711₹1,99964% offFree deliveryHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Wayfarer Sunglasse...₹604₹1,99969% offFree deliveryLowest price in the year',
 'KAEN EYEWEARPolarized, UV Protection Rectangular Sunglasses (55)₹1,066₹3,59970% offFree deliverySale Price Live',
 'FastrackUV Protection Sports Sunglasses (Free Size)₹539₹99946% offFree deliveryHot Deal',
 'ZeemorkUV Protection Retro Square Sunglasses (Free Size)₹219₹1,29983% offFree deliveryOnly few left',
 'WogglesUV Protection, Polarized Wayfarer Sunglasses (52)₹549₹1,24655% offFree deliveryHot Deal',
 'VINCENT CHASEby Lenskart Polarized, UV Protection Retro Square Sungl...₹769₹1,99961% offFree deliverySale Price Live',
 'SunveilUV Protection Retro Square Sunglasses (54)₹279₹89968% offFree delivery',
 'AISLINUV Protection, Gradient Retro Square Sunglasses (59)₹468₹1,52569% offFree deliveryHot Deal',
 'The MagnifiqueGradient, UV Protection Rectangular Sunglasses (Free Si...₹401₹1,59974% offFree deliveryLowest price since launch',
 'AGFashionUV Protection, Toughened Glass Lens, Riding Glasses, Po...₹182₹1,99990% offFree delivery',
 'EyewearlabsPolarized, UV Protection Wrap-around Sunglasses (75)₹3,149₹3,59912% offFree deliveryLowest Price in 30 days',
 'AISLINUV Protection, Gradient Butterfly, Retro Square Sunglas...₹495₹1,52567% offSize Large',
 'ALNATURAUV Protection Cat-eye Sunglasses (Free Size)₹299₹69957% offFree deliverySale Price Live',
 'elegantePolarized, Riding Glasses, Night Vision Sports Sunglass...₹435₹2,29981% offFree deliveryHot Deal',
 'VOYAGEUV Protection Wayfarer Sunglasses (59)₹999₹1,80044% offFree deliveryHot Deal',
 'ROYAL SONUV Protection, Gradient Butterfly Sunglasses (62)₹664₹1,99966% offFree deliveryDaily Saver',
 'VINCENT CHASEby Lenskart UV Protection Cat-eye Sunglasses (60)₹469₹1,99976% offFree deliveryLowest price in the year',
 'Ray-BanPolarized Aviator Sunglasses (59)₹5,873₹8,39030% offFree deliveryHot Deal',
 'Online MantraUV Protection Round, Aviator Sunglasses (Free Size)₹235₹50053% offFree delivery',
 'PIRASOUV Protection Cat-eye Sunglasses (55)₹179₹1,59988% offFree deliveryLowest price in the year',
 'AISLINToughened Glass Lens, UV Protection Aviator, Wrap-aroun...₹775₹3,69979% offFree delivery',
 'SAM AND MARSHALLPolarized, UV Protection Retro Square Sunglasses (Free ...₹2,025₹4,00049% offFree delivery',
 'IrayzNight Vision, Polarized, UV Protection, Riding Glasses ...₹313₹2,99989% offFree deliveryLowest price in the year',
 'ZeemorkUV Protection Rectangular Sunglasses (Free Size)₹340₹1,99982% offFree deliveryHot Deal']

In [70]:
Price[0:100]

['₹979',
 '₹696',
 '₹534',
 '₹470',
 '₹302',
 '₹659',
 '₹539',
 '₹850',
 '₹475',
 '₹799',
 '₹379',
 '₹710',
 '₹236',
 '₹399',
 '₹750',
 '₹593',
 '₹799',
 '₹638',
 '₹1,499',
 '₹484',
 '₹649',
 '₹711',
 '₹363',
 '₹713',
 '₹538',
 '₹489',
 '₹604',
 '₹579',
 '₹1,499',
 '₹799',
 '₹664',
 '₹664',
 '₹776',
 '₹594',
 '₹399',
 '₹481',
 '₹714',
 '₹843',
 '₹599',
 '₹453',
 '₹469',
 '₹713',
 '₹1,499',
 '₹501',
 '₹474',
 '₹378',
 '₹579',
 '₹549',
 '₹850',
 '₹165',
 '₹655',
 '₹664',
 '₹755',
 '₹501',
 '₹399',
 '₹264',
 '₹518',
 '₹706',
 '₹179',
 '₹549',
 '₹659',
 '₹468',
 '₹1,499',
 '₹799',
 '₹753',
 '₹180',
 '₹474',
 '₹599',
 '₹1,499',
 '₹809',
 '₹949',
 '₹474',
 '₹299',
 '₹232',
 '₹1,702',
 '₹711',
 '₹604',
 '₹1,066',
 '₹539',
 '₹219',
 '₹549',
 '₹769',
 '₹279',
 '₹468',
 '₹401',
 '₹182',
 '₹3,149',
 '₹495',
 '₹299',
 '₹435',
 '₹999',
 '₹664',
 '₹469',
 '₹5,873',
 '₹235',
 '₹179',
 '₹775',
 '₹2,025',
 '₹313',
 '₹340']