# Ans 1

In [18]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [19]:
# open Chrome webpage.
driver= webdriver.Chrome()

In [20]:
# opening the naukri page on automated Chrome browser
driver.get("https://www.naukri.com/")

In [21]:
# open the designation from naukri page.
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [22]:
# click search on the related to designation.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
# click salary range 3-6 lakhs in filter
salaray_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]').click()

In [24]:
#click location delhi/NCR lakhs in filter
filter_location = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]').click()

In [25]:
# here create lists job_title, job_location, company_name and experience required.
job_title=[]
job_location=[]
company_name=[]
experience_required =[]

In [26]:
# scrup job_title from naukri page.
job_tags = driver.find_elements(By.XPATH,'//a[@rel="noopener noreferrer"]')
for i in job_tags[0:10]:
    title = i.text.strip()
    job_title.append(title)
    
# scrup job_location from naukri page.
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
# scrup company name from naukri page.
company_tags= driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scrup experience required from naukri page.
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [27]:
job_title

['Data Scientist',
 'Data Scientist (AI/ML)|| US Based MNC || Noida',
 'Data Scientist',
 'Data Analyst & Data Scientist',
 'Data Scientist/Data Analyst - LLM',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - I',
 'Data Scientist']

In [28]:
job_location

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hybrid - Noida',
 'Gurugram',
 'Gurugram',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Gurugram',
 'New Delhi',
 'Noida',
 'Gurugram',
 'Gurugram']

In [29]:
company_name

['Nityo Infotech',
 'Biz Tech Consultants',
 'Varuna Integrated Logistics',
 'Collegedunia',
 'Innovaccer',
 'Netomi',
 'Birdeye Australia',
 'Biz Tech Consultants',
 'Biz Tech Consultants',
 'Intense Technologies']

In [30]:
experience_required

['3-7 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '1-2 Yrs']

In [31]:
# Creat dataframe of each job details.
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})

In [32]:
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Nityo Infotech,3-7 Yrs
1,Data Scientist (AI/ML)|| US Based MNC || Noida,Hybrid - Noida,Biz Tech Consultants,3-5 Yrs
2,Data Scientist,Gurugram,Varuna Integrated Logistics,3-8 Yrs
3,Data Analyst & Data Scientist,Gurugram,Collegedunia,3-8 Yrs
4,Data Scientist/Data Analyst - LLM,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Innovaccer,2-6 Yrs
5,Data Scientist,Gurugram,Netomi,0-2 Yrs
6,Data Scientist,New Delhi,Birdeye Australia,0-5 Yrs
7,Data Scientist,Noida,Biz Tech Consultants,2-7 Yrs
8,Data Scientist - I,Gurugram,Biz Tech Consultants,3-6 Yrs
9,Data Scientist,Gurugram,Intense Technologies,1-2 Yrs

# Ans 2

In [67]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [95]:
# open the webpage Chrome.
driver = webdriver.Chrome()

In [96]:
# Open the webpage shine.
driver.get("https://www.shine.com/")

In [98]:
# Enter "Data Analyst" in "Job title, Skills" field
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [99]:
# Enter "Bangalore" in location field.
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [100]:
# search according to above condition.
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [101]:
# create lists for filling information.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [102]:
# scrup first 10 job title from "shine" page.
job_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in job_tags[0:10]:
    title = i.text.strip()
    job_title.append(title)
    
# scrup first 10 location from "shine" page.
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text.replace('\n+8','')
    job_location.append(location)
    
# scrup first 10 company name from "shine" page.
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# scrup first 10 experience_required from "shine" page.
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [103]:
job_title

['appsoft solutions',
 'aryan technology',
 'locus enterprises',
 'spento papers (india) llp',
 'gallagher and mohan private limited',
 'diraa hr services hiring for diraa ...',
 'ltimindtree limited',
 'white horse manpower consultancy (p...',
 'techno endura',
 'spurtree technologies private limit...']

In [104]:
job_location

['Bangalore',
 'Bangalore\n+4',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+2',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+7',
 'Bangalore']

In [105]:
company_name

['appsoft solutions',
 'aryan technology',
 'locus enterprises',
 'spento papers (india) llp',
 'gallagher and mohan private limited',
 'diraa hr services hiring for diraa ...',
 'ltimindtree limited',
 'white horse manpower consultancy (p...',
 'techno endura',
 'spurtree technologies private limit...']

In [106]:
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 9 Yrs',
 '8 to 13 Yrs',
 '2 to 7 Yrs',
 '0 to 4 Yrs',
 '6 to 11 Yrs',
 '5 to 8 Yrs',
 '0 to 4 Yrs',
 '5 to 10 Yrs']

In [109]:
# creat DataFrme scrape the data for the first 10 jobs results.
df = pd.DataFrame({'Job Tile':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Tile,Job Location,Company Name,Experience Required
0,appsoft solutions,Bangalore,appsoft solutions,0 to 4 Yrs
1,aryan technology,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,locus enterprises,Bangalore\n+1,locus enterprises,4 to 9 Yrs
3,spento papers (india) llp,Bangalore,spento papers (india) llp,8 to 13 Yrs
4,gallagher and mohan private limited,Bangalore,gallagher and mohan private limited,2 to 7 Yrs
5,diraa hr services hiring for diraa ...,Bangalore\n+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
6,ltimindtree limited,Bangalore,ltimindtree limited,6 to 11 Yrs
7,white horse manpower consultancy (p...,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
8,techno endura,Bangalore\n+7,techno endura,0 to 4 Yrs
9,spurtree technologies private limit...,Bangalore,spurtree technologies private limit...,5 to 10 Yrs

# Ans 3

In [44]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [45]:
# Scrup data from link:- https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [46]:
# open the webpage "Chrome"
driver = webdriver.Chrome()

In [47]:
# open the question given link. "for iphone11"
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [48]:
# create lists for rating , Review summary, Full review.
Rating = []
Review_summary=[]
Full_review = []

In [49]:
# scrup first 100 data, Rating , Review summary, Full Review from given link.
start = 0
end = 10
for page in range(start,end):
# scrup iphone11 "Rating" from given link.
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tags[0:100]:
        Rating.append(i.text)
        
# Scrup first 100 iphone11 "Review summary" from given link
    review_sm_tags = driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in review_sm_tags[0:100]:
        Review_summary.append(i.text)
        
# Scrup first 100 iphone11 "Full Review" from given link.
    Full_review_tags = driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for i in Full_review_tags[0:100]:
        Full_review.append(i.text)
    
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]')
    next_button.click()
    time.sleep(10)

In [54]:
df = pd.DataFrame({"Rating":Rating,"Review Summary":Review_summary,"Full Review":Full_review})

In [56]:
df

,Rating,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Terrific purchase,Value for money üòç
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Brilliant,Phone Is So Good
97,5,Mind-blowing purchase,I‚Äôm satisfyüòçüòç
98,4,Very Good,üéàBattery\nüéàPerformance\nüéàCamera\nüéàPrice\n\nüéäAl...
99,5,Awesome,I dreamt about this day from a long time.... G...

# Ans 4

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
# open Chrome webbrowser.
driver = webdriver.Chrome()

In [7]:
# open given website "flipkart.com"
driver.get("https://www.flipkart.com/")

In [11]:
# entering "sneakers" for searching according to question.
product_name = driver.find_element(By.CLASS_NAME,"Pke_EE")
product_name.send_keys("sneakers")

In [12]:
# click search for sneakers.
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [43]:
# create list for sneakers  "Brand", "Product description", "Price" Data from flipkart website.
Brand = []
Product_description = []
Price=[]

In [44]:
# Data scrup first 100   "Brand", "Product description", "Price" Data from flipkart website for "sneakers".
start = 0
end = 3
for page in range(start,end):
# Scrup "Brand" Data from "flipkar" page for sneakers.
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_tags[0:100]:
        Brand.append(i.text)
        
# Scrup "Product description" from "filpkart" website for sneakers.
    description_tag1 = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    description_tag2 = driver.find_elements(By.XPATH,'//a[@class="WKTcLC BwBZTg"]')
    description = description_tag1+description_tag2
    for i in description[0:100]:
        Product_description.append(i.text)
        
# scrup "price" from "flipkart" website for sneakers.
    price_tags = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price_tags[0:100]:
        Price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [54]:
dict = {"Brand":Brand,"product_description":Product_description,"Price":Price}

In [59]:
df = pd.DataFrame({"Brand":Brand,"Product Description":Product_description,"Price":Price})

In [85]:
df[0:100]

              Brand                                Product Description   Price
0            lejano                                   Sneakers For Men    ‚Çπ429
1            BRUTON                 Lite Casual Shoes Sneakers For Men    ‚Çπ475
2              PUMA                                UP Sneakers For Men  ‚Çπ2,079
3              PUMA                      Puma Alfarun Sneakers For Men  ‚Çπ2,250
4            corsac   ! ComboPack of 2 !Casual Shoes! Sneakers For Men    ‚Çπ639
..              ...                                                ...     ...
95             NIKE                    Serve Pro Lite Sneakers For Men  ‚Çπ1,999
96          GO RIDE                                   Sneakers For Men  ‚Çπ1,324
97          MACTREE                    Casual Walking Sneakers For Men    ‚Çπ706
98  U.S. POLO ASSN.  Trendy-01 White Sneakers,Casuals,Walking,Styli...  ‚Çπ1,799
99             PUMA                      Puma Rock V1 Sneakers For Men  ‚Çπ1,349

[100 rows x 3 columns]

# Ans 5

In [50]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [59]:
# opent the Chrome browser.
driver = webdriver.Chrome()

In [60]:
# open given webpage "https://www.amazon.in/"
driver.get("https://www.amazon.in/")

In [61]:
laptop_search = driver.find_element(By.ID,"twotabsearchtextbox")
laptop_search.send_keys('Laptop')

In [62]:
search = driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [64]:
# SELECT CPU "intel core i7" 
cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/span/span[8]/li/span/a/span')
cpu.click()

In [65]:
Title = []
Rating = []
Price = []

In [86]:
# Scrup first 10 every laptop "Title","Ratind","Price" from given "amazon" webpage for laptop.
title_tags = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags[0:10]:
    titles = i.text
    Title.append(titles)
    

    
# scrup first 10 "price", from amazon webpage for evert "laptop"
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    prices = i.text
    Price.append(prices)

In [88]:
df = pd.DataFrame({"Title":Title,"Price":Price})
df

                                               Title    Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...  ‚Çπ59,990
1  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...  ‚Çπ49,990
2  Dell [Smartchoice] Inspiron 5430 Thin & Light ...  ‚Çπ75,490
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  ‚Çπ76,990
4  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...  ‚Çπ61,990
5  Acer ALG 13th Gen Intel Core i7 Gaming Laptop ...  ‚Çπ71,990
6  Acer Aspire 3 Intel Core i7 12th Gen 1255U - (...  ‚Çπ57,990
7  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...  ‚Çπ55,990
8  (Refurbished) Dell Latitude 7480 14in FHD Lapt...  ‚Çπ27,531
9  Acer Travelmate Business Laptop Intel Core i7-...  ‚Çπ44,890

# Ans 6

In [109]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [110]:
# open Chrome webpage.
driver = webdriver.Chrome()

In [111]:
# open webpage from "https://www.azquotes.com"
driver.get('https://www.azquotes.com/')

In [112]:
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [113]:
# Create list for store scrup data.
Quotes = []
Author = []
Type_of_quotes = []

In [114]:
#scrup first 1000 data from given webpage.
start = 0
end = 10
for page in range(start,end):
# Scrup "quotes" from given webpage.
    quotes_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_tags:
        Quotes.append(i.text)
    # Scrup data for author from given wibsite.
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        Author.append(i.text)
# Scrup data for "Type of quotes"
    quotes_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quotes_tags:
        Type_of_quotes.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(10)

In [119]:
# scrup first "1000 data" from given webpage.
df = pd.DataFrame({"Quotes":Quotes,"Author":Author,"Type Of Quotes":Type_of_quotes})
df[0:1000]

,Quotes,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [115]:
print(len(Quotes))

1000

In [116]:
print(len(Author))

1000

In [117]:
print(len(Type_of_quotes))

1000

# Ans 7

In [70]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [103]:
from bs4 import BeautifulSoup
import requests

In [104]:
# send request for give link according to question.
page = requests.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [105]:
page

In [106]:
tables = soup.find_all('table')

In [107]:
# create lists for store data of every list.
Name =[]
Term_of_office_join_date=[]
Term_of_office_end_date=[]
Remarks = []

In [108]:
for row in tables[0].find_all('tr')[1:]:
    name = row.find_all('td')[1].text.strip()
    join_date = row.find_all('td')[3].text.strip()
    end_date = row.find_all('td')[4].text.strip()
    remark = row.find_all('td')[5].text.strip()
    
    Name.append(name)
    Born_Dead.append(born_dead)
    
    Term_of_office_join_date.append(join_date)
    Term_of_office_end_date.append(end_date)
    Remarks.append(remark)

In [109]:
# create "DataFrame" for store data.
df = pd.DataFrame({"Name":Name,"Term of Office By period":Term_of_office_join_date,"Term of By the duration":Term_of_office_end_date,"Remarks":Remarks})
df

,Name,Term of Office By period,Term of By the duration,Remarks
0,Jawaharlal Nehru,15 August1947,27 May 1964,"16 years, 286 days"
1,Gulzarilal Nanda,27 May 1964,9 June 1964,13 days
2,Lal Bahadur Shastri,9 June 1964,11 January 1966,"1 year, 216 days"
3,Gulzarilal Nanda,11 January 1966,24 January 1966,13 days
4,Indira Gandhi,24 January 1966,24 March 1977,"11 years, 59 days"
5,Morarji Desai,24 March 1977,28 July 1979,"2 years, 126 days"
6,Charan Singh,28 July 1979,14 January 1980,170 days
7,Indira Gandhi,14 January 1980,31 October 1984,"4 years, 291 days"
8,Rajiv Gandhi,31 October 1984,2 December 1989,"5 years, 32 days"
9,Vishwanath Pratap Singh,2 December 1989,10 November 1990,343 days
10,Chandra Shekhar,10 November 1990,21 June 1991,223 days
11,P. V. Narasimha Rao,21 June 1991,16 May 1996,"4 years, 330 days"
12,Atal Bihari Vajpayee,16 May 1996,1 June 1996,16 days
13,H. D. Deve Gowda,1 June 1996,21 April 1997,324 days
14,Inder Kumar Gujral,21 April 1997,19 March 1998,332 days
15,Atal Bihari Vajpayee,19 March 1998,22 May 2004,"6 years, 64 days"
16,Manmohan Singh,22 May 2004,26 May 2014,"10 years, 4 days"
17,Narendra Modi,26 May 2014,Incumbent,"10 years, 87 days"

# Ans 8

In [58]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [59]:
# open "Chrome" webbrowser.
driver = webdriver.Chrome()

In [60]:
# open given webpage.
driver.get('https://www.motor1.com/')

In [61]:
# search "most expensive cars" from given webpage.
most_expensive_car = driver.find_element(By.ID,"search_input")
most_expensive_car.send_keys('50 most expensive cars')

In [63]:
search = driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [64]:
# now click on "50 most expensive carsin the world".
expensive_car = driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
expensive_car.click()

In [65]:
# create list.
Car_name = []

In [66]:
# scrup data from given webpage.
car_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags[0:50]:
    car = i.text
    Car_name.append(car)

In [67]:
Car_name

['McLaren Senna GTR',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Hennessey Venom F5 Revolution',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aspark Owl',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Evo R',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Gordon Murray Automotive T.50s Niki Lauda',
 'Pagani Huayra Roadster BC',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Bugatti Divo',
 'Pagani Huayra Imola',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profil√©e',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail',
 'Rolls-Royce La Rose Noire Droptail']

In [69]:
df = pd.DataFrame({"Car Name":Car_name})
df

                                     Car Name
0                           McLaren Senna GTR
1                                 Czinger 21C
2                               Ferrari Monza
3                          Gordon Murray T.33
4                           Koenigsegg Gemera
5                          Hennessey Venom F5
6                             Bentley Bacalar
7               Hispano Suiza Carmen Boulogne
8                      Bentley Mulliner Batur
9                                 SSC Tuatara
10                                Lotus Evija
11                        Aston Martin Vulcan
12                                 Delage D12
13                        Ferrari Daytona SP3
14                          McLaren Speedtail
15                               Rimac Nevera
16                              Pagani Utopia
17                       Pininfarina Battista
18                         Gordon Murray T.50
19                       Lamborghini Countach
20              Hennessey Venom F5 Revolution
21                   Mercedes-AMG Project One
22                               Zenvo Aurora
23                        Aston Martin Victor
24                Hennessey Venom F5 Roadster
25                           Koenigsegg Jesko
26                                 Aspark Owl
27                      Aston Martin Valkyrie
28                  W Motors Lykan Hypersport
29                              McLaren Solus
30                        Pagani Huayra Evo R
31                           Lamborghini Sian
32                           Koenigsegg CC850
33            Bugatti Chiron Super Sport 300+
34  Gordon Murray Automotive T.50s Niki Lauda
35                  Pagani Huayra Roadster BC
36                         Lamborghini Veneno
37                             Bugatti Bolide
38                  Pininfarina B95 Speedster
39                            Bugatti Mistral
40                               Bugatti Divo
41                        Pagani Huayra Imola
42                           Pagani Codalunga
43                   Mercedes-Maybach Exelero
44                         Bugatti Centodieci
45                    Bugatti Chiron Profil√©e
46                       Rolls-Royce Sweptail
47                   Bugatti La Voiture Noire
48                      Rolls-Royce Boat Tail
49         Rolls-Royce La Rose Noire Droptail